/* background: #0F2027;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */




*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.center{
    text-align: center!important;
    font-family: 'Quicksand', sans-serif;
}
.button-catelog{
    color: black!important;
    background-image: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    padding: 15px;
}

.button-catelog button{
    margin: 10px;
}

.menu-bar{
    background-image: linear-gradient(-90deg, #0F2027 ,#203A43);
}
.menubar{
    background-image: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    
}

.menubar .nav-link{
    font-size: 13px;
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}

.form-control{
    background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 500px;
    color: #fff!important;
    border-radius: 50px;
    margin: auto;
    outline: 0;
}

.container .form-select{
    background-color: #2C5364;
    
    color: white!important;
}
.form-bg .form-control{
    background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 100%;
    color: #fff!important;
    border-radius: 10px;
    margin: auto;
    outline: 0;
}

@media(max-width:1233px){
    .form-control{
        width: auto;
        display: flex;
        justify-content: center;
        
    }
    .searchBar{
        width: auto;
        display: flex;
        justify-content: center;
        
    }
}

.form-control::placeholder{
    color:rgb(205, 205, 205);
}

.form-control:focus{
    outline: none !important;
         box-shadow: none;
}

.btn{
    border-radius: 50px;
    color: #fff!important;
    border: 1px solid #fff!important;
}

.navbar-nav{
    margin-right: 20px;
    text-align: right;
}

.menu-bar .navbar-toggler{
    margin-right: 20px;
    outline: #fff;
    border: none!important;

}

.navbar-toggler:focus{
    outline: none !important;
         box-shadow: none;
}


.navbar .fa-bars{
    font-size: 26px;
    color: #fff!important;
    border: none!important;
}

.fa-bars:focus{
    outline: none;
}

.navbar-brand img{
    
    height: 50px;
    width: auto;;
   
    margin-left: 30px;
}

button:focus,
a:focus {
  outline: #fff;
}
.nav-link:hover{
    font-family: 700;
    border-bottom: 1px solid #fff;
}


@media only screen and (max-width: 1000px) {
    .nav-link:hover{
        font-family: 700;
        border-bottom: none;
    }
}

.copyright{
    margin: 0px;
    font-size: 10px;
}

.body-start{
    font-family: 'Quicksand', sans-serif;
    color: black!important;
}


.product-category{
    padding: 20px;
}

.product-route{
    text-align: center;
    
}

.product-title{
    color: black;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 700;
}

.cards{
    
    border: 2px solid #0F2027;
    height: 1000px;
    padding: 20px;
    margin: 0px 20px 0px;
}

.gallery{
    flex-direction: row;
    color: black!important;
}

.logo-sidebar{
    height: 35px;
    margin: 0px 8px 0px;
    width: auto;;
}


.gallery .btn{
    color: black!important;
}


.card-body .btn{
    color: black!important;
    background-color: white;
    border-radius: 10px!important;
    transition: all ease 0.8ms;
    border: 0.5px solid #dee2e6!important;
    
}
.card-body .btn:hover{
    color: white!important;
    background-image: linear-gradient(to right, #2C5364, #203A43);
    border-radius: 10px!important;
}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: contain;
    
    mix-blend-mode:darken;
}

.imgback{
    background-color: #F8F8F8;
}

.price{
    padding: 0 5px 0;
    font-size: 30px;
}


.order-size{
    width: 35px;
    display: inline;
    margin: none!important;
    background-color: white!important;
    background-image: none;
    border-radius: 10px;
    color: black!important;
    
}


.decrease{
    border: none;
    background-color: white!important;
    font-size: 20px;
    height: 38px;
}

.increase{
    border: none;
    background-color: white!important;
    font-size: 20px;
    
    
}

.decrease i {
    color: #0F2027;
}

.increase i{
    color: #0F2027;
}



.form-bg{
    background-image: linear-gradient(to left, #2C5364, #203A43);
    height: 100%;
    width: 100%;
    color: white!important;

    font-family: 'Quicksand', sans-serif;
}





.button-catelog .nav-link{
    border-bottom: none !important;
    transition: 0.3 ease-in;
}
.button-catelog .btn:hover{
    border-bottom: none !important;
    /* transform: scale(1.05); */
    border: 2px solid white!important;
    

}








/* bootstrap */

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  